

/*
ensure that the background and image are positioned correctly. 

In Mobile view the image is centered and the text is centered below the image. The backgrund

In Laptop view there are 2 columns. image is on the left and the text is on the right. The background is black with alignment to the left.

*/


.features-call-to-action {
  display: grid;
  position: relative;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.background-wrapper { grid-area: 2 / 1 / 5 / 3;}
.features-intro-image { grid-area: 1 / 1 / 3 / 3; margin: auto;}
.features-h2-p-button { grid-area: 3 / 1 / 5 / 3; margin: auto;}


@media screen and (min-width: 1208px) {
  .background-wrapper { grid-area: 2 / 1 / 3 / 3;}
  .features-intro-image { grid-area: 1 / 1 / 3 / 2;}
  .features-h2-p-button { grid-area: 2 / 2 / 3 / 3;}
}


/* Ensure backgrround wrapper displays across entire width of the screen */
/* one issue remains where in laptop view the background wrapper does not extend to the left of the screen, leaving a white gap. This is due to a parent that cuts the margin */
.background-wrapper {
position: relative;
width: 100vh;
height: 100%;
margin: auto auto;
left:0;
z-index: -1;
}

@media screen and (min-width: 1208px) {
  .features-call-to-action {
    position: absolute;
    margin: 70px auto auto;
  }
}

/*from tablet view, ensure the margin is increased on the features-call-to-action component */
@media screen and (min-width: 700px) {
.features-call-to-action {
  margin: 70px auto auto;
}
}
/* ensure the image is sized correctly */

.features-intro-image {
  width: 50%;
  max-width: 300px;
  height: auto;
  margin: auto;
}


/* format the text and button */
@media (min-width: 1208px) {
  .features-h2-p-button> * {
    text-align: left;
    align-self: center;
    padding: 0;
    left: 0;
  }
}

/*ensure all the text is anchored to the left in laptop view */

@media screen and (min-width: 1208px) {
  .features-h2-p-button {
    margin: auto auto auto 0;
}
}

/* ensure the image is anchored in laptop view */

@media screen and (min-width: 1208px) {
  .features-intro-image {
    margin: -40px 40px auto auto;
  }
}

/* colors for the component*/
.background-wrapper-black {
  background-color: #333;
}
.text-white {
  color: white;
}

.button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: none;
  color: var(--text-color-white);
  text-decoration: none;
  border-radius: 5em;
  transition: background-color 0.3s ease;
}
.button a:hover {
  background-color: #ddd;
}
