#hero-feature {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
  }
  
  .hero-image-container {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 1em;
    overflow: hidden;
  }
  
  .hero-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 1em;
  }
  
  .hero-image-container .mobile img {
    max-height: 700px;
  }
  
  .hero-image-container .tablet {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    display: block;
    border-radius: 1em;
    overflow: hidden;
  }
  
  .hero-image-container .tablet img {
    margin-top: -22%;
  }
  
  .hero-image-container .desktop img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: inline;
    border-radius: 1em;
  }
  
  .hero-image-container .desktop img {
    margin-top: -9%;
  }
  
  .hero-heading {
    z-index: 1;
    position: absolute;
    top: 11em;
    left: 3%;
    right: 3%;
    margin: auto;
    padding: 0.5em;
    text-align: center;
    border-radius: 0.3em;
    height: auto;
  }
  
  .hero-heading h1 {
    margin: auto;
  }
  
  @media (max-width: 452px) {
    .hero-heading {
      top: 5em;
    }
  
    .hero-heading h1 {
      text-align: center;
    }
  }
  
  @media (min-width: 768px) {
    .hero-heading {
      display: flex;
      align-items: center;
      z-index: 1;
      position: absolute;
      top: 13em;
      left: 10%;
      right: 10%;
      margin: auto;
      padding: 0.5em;
      border-radius: 0.3em;
      height: auto;
    }
  }
  
  .hero-heading h1 {
    text-align: center;
  }
  
  @media (min-width: 1208px) {
    .hero-heading {
      top: 14em;
    }
  }
  
  @media (min-width: 1728px) {
    .hero-heading {
      top: 8em;
      font-size: xx-large;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hide-in-mobile {
      display: none !important;
    }
  }
  
  @media screen and (min-width: 769px) {
    .hide-in-tablet-laptop-and-desktop {
      display: none !important;
    }
  }
  
  @media screen and (max-width: 1208px) {
    .hide-in-mobile-and-tablet {
      display: none !important;
    }
  }
  
  @media screen and (min-width: 1209px) {
    .hide-in-laptop-and-desktop {
      display: none !important;
    }
  }
  
  @media screen and (max-width: 1727.99px) {
    .hide-in-mobile-and-tablet-and-laptop {
      display: none !important;
    }
  }
  
  @media screen and (min-width: 1728px) {
    .hide-in-desktop {
      display: none !important;
    }
  }
  